h1 {
    color: grey;
}
.test1 span {
    color: #fff;
    background: skyblue;
}
.test2 {
    background: pink;
}
ul {
    display: flex;
    justify-content: space-around;
}
li {
    list-style: none;
    color: #fff;
}