.test1 {
    margin-bottom: 20px;
}
.test1 h1 {
    font-size: 25px;
    color: grey;
    margin: 15px 0;
}
.test1 span {
    color: #fff;
    background: skyblue;
    font-size: 18px;
    line-height: 1.5;
    display: block;
}
.test2 {
    background: pink;
    line-height: 1.5;
}
.test2 ul {
    display: flex;
    justify-content: space-around;
}
li {
    list-style: none;
}
.test2 ul li {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    background: #fff;
    color: pink;
    border: pink solid 2px;
    box-sizing: border-box;
}
.test2 ul li:hover {
    color: #fff;
    background: pink;
    cursor: pointer;
}
.test3 {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}
.test3 img {
    width: 180px;
    height: 180px;
}
.list-item {
    margin-left: 90px;
    width: 500px;
    background: #8cceff;
    border: 2px #fff dashed;
    padding: 20px;
}
.list-item ul li {
    font-size: 22px;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}
.news {
    margin-top: 60px;
    padding: 0 20px;
}
.news h1 {
    font-size: 25px;
    color: gray;
    margin-bottom: 15px;
}
.news p {
    color: gray;
    line-height: 1.5;
}
.main-nav {
    height: 396px;
    width: 100%;
    margin: 0 auto;
}
#nav {
    width: 67.5%;
    min-width: 687px;
    height: 396px;
    overflow: hidden;
    margin: 0 auto;
    padding: 88px 0;
}
#nav li {
    float: left;
    height: 225px;
    width: 225px;
    border: 2px solid #000;
    border-radius: 50%;
    position: relative;
}
#nav li::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 22px;
    right: 0;
    left: 0;
    width: 21px;
    height: 21px;
    margin: auto;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    transform: rotate(45deg);
}
#nav li:last-of-type {
    float: none;
    margin: 0 auto;
}
#nav li:nth-of-type(2) {
    float: right;
}
#nav a {
    color: #000;
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 50%;
    text-align: center;
    padding: 83px 0 100px;
    text-decoration: none;
}
.contents {
    height: 400px;
    overflow: hidden;
}
.left {
    float: left;
    height: 400px;
    width: 50%;
    background: no-repeat;
    background-size: cover;
}
#photo01 {
    background-image: url(../images/picture_pc.jpg);
}
#photo02 {
    background-image: url(../images/picture_pc2.jpg);
}
#photo03 {
    background-image: url(../images/picture_pc3.jpg);
}
.right {
    float: right;
    width: 50%;
    height: 400px;
}